<div class="content-full">
  <h2> View Post</h2>
  <p></p>
  <div>
    <table width='100%'>
      <tr>
        <td width="100px"><b>Title</b></td>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <td valign="top"><b>Post</b></td>
        <td><%= @post.entry %></td>
      </tr>
      <tr>
        <td><b>Signature</b></td>
        <td><%= @post.signature %></td>
      </tr>
      <tr>
        <td><b>Short URL</b></td>
        <td><%= @post.short_url %></td>
      </tr>
      <tr>
        <td><b>Created</b></td>
        <td><%= @post.created_at.strftime("%m/%d/%Y %I:%M %p") %></td>
      </tr>
      <tr>
        <td><b>Updated</b></td>
        <td><%= @post.updated_at.strftime("%m/%d/%Y %I:%M %p") %></td>
      </tr>
      <tr>
        <td colspan="2" align='center'>
          <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', posts_path %>
        </td>
      </tr>
      <tr>
        <td colspan='2' align='center'>
          <b>Comments (<%= @post.comments.length %>)</b>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table width='100%' cellpadding='0' cellspacing='0'>
            <%= render :partial => "comments/comment_full", :collection => @post.comments %>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
